body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#fotos-destacadas {
    padding: 15px;
    background-color: #eee;
}
#fotos-destacadas a {
    text-decoration: none;
}

.fotos-container {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    flex-wrap: wrap; /* Poner los elementos en varias filas */
    margin: 0 auto; 
}

.foto {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 200px; 
    height: 200px; 
    margin: 5px;
    text-align: center;
    padding: 15px;
    
    transition: transform 0.3s ease-in-out; /* Animacion para cuando se pase el mouse */
}

.foto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.foto p {
    margin: 0;
    color: #555;
}

.foto:hover {
    transform: scale(1.05); /* Cambia la escala al hacer hover */
}

.frase {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    border-top: 2px solid #007BFF; /* Barra superior */
    border-bottom: 2px solid #007BFF; /* Barra inferior */
    padding: 1rem 0;
    
}


.foto-grande {
    text-align: center;
    margin: 20px;
}


.foto-grande img {
    width: 100%;
    max-width: 900px; 
    border-radius: 8px; 
}


.dia {
    margin: 15px;

}

.lugar {
    margin-bottom: 10px;
    
}

.descripcion-con-foto {
    display: flex;
    justify-content: space-between;

}
.foto-derecha {
    margin-left: 12px;
    display: flex  ;
    flex-direction: column; /* Pone los elementos uno debajo del otro */
    
}

.foto-derecha img {
    width: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.fotos-debajo {
    margin-top: 12px;
    display: flex;
    margin-top: 12px;
}

.fotos-debajo img {
    width: 300px;
    margin: 12px;
    border-radius: 5px;
}
