body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#fotos-destacadas {
    padding: 15px;
    background-color: #eee;
}
#fotos-destacadas a {
    text-decoration: none;
}

.fotos-container {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    flex-wrap: wrap; /* Poner los elementos en varias filas */
    margin: 0 auto; 
}

.foto {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 200px; 
    height: 200px; 
    margin: 5px;
    text-align: center;
    padding: 15px;
    
    transition: transform 0.3s ease-in-out; /* Animacion para cuando se pase el mouse */
}

.foto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.foto p {
    margin: 0;
    color: #555;
}

.foto:hover {
    transform: scale(1.05); /* Cambia la escala al hacer hover */
}

#frase {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    border-top: 2px solid #3f3f3f; 
    border-bottom: 2px solid #3f3f3f;
    padding: 1rem 0;
    text-align: center;    
}


#planificacion, #intro{
    margin-left: 5%;
    margin-right: 5%;
}
.foto-grande {
    text-align: center;
    margin: 20px;
}


.foto-grande img {
    width: 100%;
    max-width: 900px; 
    border-radius: 8px; 
}


.dia {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;

}

.lugar {
    margin-bottom: 10px;
    
}

.descripcion-con-foto-derecha {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    

}

.descripcion-con-foto-abajo {
    flex-direction: column;
    text-align: justify;


}


.foto-derecha {
    margin-left: 12px;
    float: right; /* Ubica la foto a la derecha */
    width: 250px;
}

.foto-derecha img {
    width: 250px;
    /* margin-bottom: 10px;*/ 
    border-radius: 5px;
}



.fotos-debajo {
    text-align: center;
    
}

.fotos-debajo img {
    width: 60%;
    margin: 12px;
    border-radius: 5px;
    
}

#btn-arriba {
    position: fixed; /* Fija este boton en la pantalla para cuando hagas scroll*/
    bottom: 20px; /* Distancia del boton al borde inferior */
    right: 20px; /* Distancia del boton al borde derecho */
    z-index: 99; /* Hacer que se quede por encima de otros elementos */
    background-color: #007BFF;
    color: white; 
    border: none; 
    padding: 15px; 
    border-radius: 25%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    font-size: 18px; 
    transition: background-color 0.3s ease;
    
}

#btn-arriba:hover {
    background-color: #555;
}



.dato-interesante {
    background-color: #ffefcc; 
    border-left: 5px solid #ffa500; 
    padding: 10px; 
    margin-top: 15px; 
    border-radius: 5px; 
    font-style: italic; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.dato-interesante h4 {
    margin-top: 0; /* Elimina el margen superior */
    font-weight: bold;
    color: #d35400; /* Color distintivo para el título del dato curioso */
}

