body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
main {
    padding: 20px;
}

section {
    margin: 20px;
    padding: 15px;
    border: 1px solid #3d3d3d; 
    border-radius: 8px; 
}

section h2 {
    color: #3d3d3d;
}

section ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0;
}

section li {
    margin: 5px 0;
    padding: 8px;
    background: #f8f9fa; 
    border-radius: 4px; 
}
