body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #f4f4f4;
}
main {
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

section {
  margin: 20px;
  padding: 15px;
  border: 1px solid #3d3d3d;
  border-radius: 8px;
}

section h2 {
  color: #3d3d3d;
}

section ul {
  list-style-type: none; /* Eliminar viñetas de la lista */
  padding: 0;
}

section li {
  margin: 5px 0;
  padding: 8px;
  background: #f8f9fa;
  border-radius: 4px;
}

#btn-arriba {
  position: fixed; /* Fija este boton en la pantalla para cuando hagas scroll*/
  bottom: 20px; /* Distancia del boton al borde inferior */
  right: 20px; /* Distancia del boton al borde derecho */
  z-index: 99; /* Hacer que se quede por encima de otros elementos -- Informacion de foros de internet*/
  background-color: #e0b400;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 25%;
  text-align: center;
  text-decoration: none;
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  font-size: 18px;
  transition: background-color 0.3s ease;
}

#btn-arriba:hover {
  background-color: #555;
}

.tabla-precios {
  width: 100%;
  border-collapse: collapse; /* Quita los espacios entre las celdas */
  margin: 20px 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.tabla-precios th,
.tabla-precios td {
  padding: 15px;
  text-align: center;
  border: 1px solid #dddddd;
}

.tabla-precios th {
  background-color: #ffcc00;
  color: white;
  text-transform: uppercase; /* Pasa el texto a mayúsculas */
  font-weight: bold;
}

.tabla-precios tr:nth-child(even) {  /*  Es una pseudo-clase  que selecciona los elementos que son hijos pares. 
  En este caso, selecciona las filas pares de la tabla */
  background-color: #f2f2f2;
}

.tabla-precios tr:hover {
  background-color: #e9ecef;
}


@media (max-width: 768px) {
    main {
        padding: 20px;
        margin-left: 1%;
        margin-right: 1%;
      }
    .tabla-precios {
        display: block; /* Cambiar la tabla a un bloque para que los elementos se muestren uno debajo del otro */
        width: 100%;
        overflow-x: auto; /* Es para agregar una barra de desplazamiento horizontal si es necesario */
    }
    .tabla-precios th, .tabla-precios td {
        padding: 10px;
        font-size: 0.9rem;
    }
}