body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
main {
    padding: 20px;
}

section {
    margin: 20px;
    padding: 15px;
    border: 1px solid #3d3d3d; 
    border-radius: 8px; 
}

section h2 {
    color: #3d3d3d;
}

section ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0;
}

section li {
    margin: 5px 0;
    padding: 8px;
    background: #f8f9fa; 
    border-radius: 4px; 
}

#btn-arriba {
    position: fixed; /* Fija este boton en la pantalla para cuando hagas scroll*/
    bottom: 20px; /* Distancia del boton al borde inferior */
    right: 20px; /* Distancia del boton al borde derecho */
    z-index: 99; /* Hacer que se quede por encima de otros elementos */
    background-color: #007BFF;
    color: white; 
    border: none; 
    padding: 15px; 
    border-radius: 25%; 
    text-align: center;
    text-decoration: none;
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    font-size: 18px; 
}

#btn-arriba:hover {
    background-color: #555;
}

